@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    top: 250px;
    left: 170px;
    color: white;
    background-color: black;
    width: 50%;
    height: 150px;
    border-radius: 10px;

}

img{
    position: relative;
    top: 5px;
    left: 5px;
    border-radius: 10px;
}

p{
    font-family: "Roboto", sans-serif;
    display: inline-block;
    position: relative;
    top: -105px;
    left: 210px;
    font-size: 12px;
}